<ion-view view-title="Profile">
    <ion-content>
        <ion-list>
            <ul>
                <li class="item item-divider">
                    My Spots: {{test}}
                </li>
            </ul>

            <div class="item item-borderless" ng-bind="user.caption" ng-hide="user.noSpots"></div>

            <div class="card" ng-repeat="spot in mySpots">
                <div class="item item-divider" ng-cloak>
                    Spot {{$index + 1}}:
                </div>
                <div class="item item-text-wrap" ng-cloak>
                    Price: {{spot.price | currency}}
                </div>
                <div class="item item-text-wrap" ng-cloak>
                    Description: {{spot.description}}
                </div>
            </div>

        </ion-list>
    </ion-content>
</ion-view>